@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #223c60;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-snap-align: start;
  }
  html {
    scroll-behavior: smooth;
  }
}

.tilt-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.section-main {
  scroll-margin-top: 7rem;
  min-height: calc(100vh - 7rem);
  margin-bottom: 7rem;
  scroll-snap-type: y;
  @apply px-6 sm:px-10 lg:px-48;
}

.primary-focus {
  color: #00ffe5;
}

.page-headings {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  color: #00ffe5;
}

.skills-svg {
  background-image: url("./assets/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
