@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #091f2e;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  html {
    scroll-behavior: smooth;
  }
}

.tilt-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.section-main {
  scroll-margin-top: 7rem;
  min-height: calc(100vh - 7rem);
  margin-bottom: 7rem;
}
